<!DOCTYPE html>
<html>
  <head>
    <title>CRUD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      table th, table td {
        padding: 5px;
      }
      form {
        display: none;
        grid-template-columns: 1fr;
        justify-content: center;
      }
      form > input {
        width: 50%;
        height: 25px;
        margin-top: 10px;
        justify-self: center;
      }
      form > button {
        width: 100px;
        height: 30px;
        margin-top: 10px;
        justify-self: center;
      }
    </style>
  </head>
  <body>
    <script>
      const inputArr = [
        'input-id',
        'input-name',
        'input-company',
        'input-code',
        'input-date',
        'input-city',
        'input-country',
        'input-phone',
        'input-email',
        'input-address',
        'input-country'
      ];
      function deleteItem(record) {
        console.log(record);
        fetch('/crud/delete', {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            id: Number(record)
          })
        })
        .then((res) => res.json())
        .then((res) => {
          console.log(res);
          if (res.statusCode == 200) {
            location = '/crud';
          }
        })
        .catch();
      }
      function changeItem() {
        if(document.querySelector('.input-id').value == '') {
          addItem();
          return;
        }
        const record = {};
      for(let i of inputArr) {
        record[i.substring(6)] = document.querySelector('.' + i).value;
      }
        fetch('/crud/put', {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(record)
        })
        .then((res) => res.json())
        .then((res) => {
          console.log(res);
          if (res.statusCode == 200) {
            location = '/crud';
          }
          togglePutForm('none');
        })
        .catch();
      }
      function addItem() {
        const record = {};
      for(let i of inputArr) {
        record[i.substring(6)] = document.querySelector('.' + i).value;
      }
        fetch('/crud/post', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(record)
        })
        .then((res) => res.json())
        .then((res) => {
          console.log(res);
          if (res.statusCode == 200) {
            location = '/crud';
          }
          togglePutForm('none');
        })
        .catch();
      }
      function togglePutForm(disp, id) {
        document.querySelector('form').style.display = disp;
        if (disp == 'none') {
          for(let i of inputArr) {
          document.querySelector('.' + i).value = '';
        }
        } else {
          document.querySelector('.input-id').value = id;
          if (id == '') {
            document.querySelector('.input-id').style.display = 'none';
          } else {
            document.querySelector('.input-id').style.display = 'initial';
          }
        }
      }
    </script>
    <h1>CRUD</h1>
    <h2><button type="button" onclick="togglePutForm('grid', '')">Add Record</button></h2>
    <table border="2px" cellspacing="5">
      <th>id</th>
      <th>name</th>
      <th>country</th>
      <th>company</th>
      <th>city</th>
      <th>code</th>
      <th>date</th>
      <th>address</th>
      <th>email</th>
      <th>phone</th>
      <th>Delete Button</th>
      <th>Edit Button</th>
    </tr>
    <% for(var i=0; i<Records.length; i++) {%>
      <tr>
    <td><%= Records[i].id%></td>
    <td><%= Records[i].name%></td>
    <td><%= Records[i].country%></td>
    <td><%= Records[i].company%></td>
    <td><%= Records[i].city%></td>
    <td><%= Records[i].code%></td>
    <td><%= Records[i].date%></td>
    <td><%= Records[i].address%></td>
    <td><%= Records[i].email%></td>
    <td><%= Records[i].phone%></td>
    <td>
      <button type="button" onclick="deleteItem('<%= Records[i].id%>')">
        Delete
      </button>
    </td>
    <td>
      <button type="button" onclick="togglePutForm('grid', '<%= Records[i].id%>')">
        Edit
      </button>
    </td>
      </tr>
      <% } %>
    </table>
    <form>
      <input class='input-id' placeholder="id"/>
      <input class='input-name' placeholder="name"/>
      <input class='input-company' placeholder="company"/>
      <input class='input-code' placeholder="code"/>
      <input class='input-date' placeholder="date"/>
      <input class='input-city' placeholder="city"/>
      <input class='input-country' placeholder="country"/>
      <input class='input-address' placeholder="date"/>
      <input class='input-phone' placeholder="city"/>
      <input class='input-email' placeholder="country"/>
      <button type="button" onclick="changeItem()">Submit</button>
    </form>
  </body>
</html>
