<!DOCTYPE html>
<html>
  <head>
    <title>Record By Id</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        td, th {
            padding: 5px;
        }
    </style>
  </head>
  <body>
    <h1>Record By Id</h1>
<table border="2px" cellspacing="5">
    <th>id</th>
    <th>name</th>
    <th>country</th>
    <th>company</th>
    <th>city</th>
    <th>code</th>
    <th>date</th>
  </tr>
    <tr>
  <td><%= Record.id%></td>
  <td><%= Record.name%></td>
  <td><%= Record.country%></td>
  <td><%= Record.company%></td>
  <td><%= Record.city%></td>
  <td><%= Record.code%></td>
  <td><%= Record.date%></td>
    </tr>
  </table>
  </body>
</html>
